<div class="row">
    <div class="col-md-6">
        <h3 class="text-center">Ajouter une marque</h3>
            <%= form_tag "/brands", method: "post" do %>
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control border" placeholder="Nom de la marque" name="brand_title" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control border" placeholder="Description de la marque" name="brand_desc" />
                    </div>
                    <div class="form-group">
                        <label>Status de la marque</label>
                        <select name="brand_status" class="form-control border">
                           <option value="Contacté">Contacté</option>
                           <option value="Relancé">Relancé</option>
                           <option value="Validé">Validé</option>
                           <option value="Refusé">Refusé</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control border" placeholder="Mail de la marque" name="brand_mail" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control border" placeholder="Phone de la marque" name="brand_phone" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control border" placeholder="Site web de la marque" name="brand_website" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control border" placeholder="Facebook de la marque" name="brand_facebook" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control border" placeholder="Twitter de la marque" name="brand_twitter" />
                    </div>
                    <div class="form-group">
                        <input type="text" class="form-control border" placeholder="Instagram de la marque" name="brand_instagram" />
                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-primary">Ajouter la marque</button>
                    </div>
                </form>
            <% end %>
    </div>
</div>