<% if @current_user %>

<div class="row">
    <div class="col-12">
        <h1 class="text-center">Welcome</h1>
    </div>
</div>
<div class="row">
    <div class="col-12 text-center">
        <iframe src="https://giphy.com/embed/l4JyOCNEfXvVYEqB2" width="480" height="270" frameBorder="0" class="giphy-embed img-fluid" allowFullScreen></iframe>
    </div>
</div>
  
<% else %>
  <h1>Bienvenue visiteur anonyme !</h1>
<% end %>

